btnArea{ 
    :40px
}
p.btn{
    margin: 0  40px;
    width: 300px;
    text-align: ;
}
p.btna{
    display: ;
    padding: 20px;
    background: #;
    color: ;
    text-decoration:;
    :8px
    font-size:1.2;
}